* {
  margin: 20;
  padding: 20;
  box-sizing: border-box;
  font-family: 'Cabin Sketch', cursive;
  font-family: 'Rye', cursive;
}


:root {
  --lightGreen: #d6f8d6;
  --midGreen: #faf33e;
  --darkGreen: #5d737e;
  --mutedPurple: #55505c;
  --grey: #ffffff9c;
  --yellow: #faf33e;
  --lightBlue: #69a8db;
  --darkBlue: #002d52;

}

.lead {
  font-size: 110%;
  margin-bottom: 10px;
}

body {
  background: url("../src/img/gold.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.headline {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100%;
  color: #020146d5;
  margin-bottom: 50px;
}

ol li {
  font-size: 90%;
  color: #020146d5;
}

.display-1 {
  text-align: center;
  color: rgba(146, 88, 1, 0.897);
  padding: 10px;
  margin-bottom: 20px;
  font-size:175%;
}
.display-4 {
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  font-size: 300%;
}
header {
  background-image: linear-gradient(to bottom right,rgb(156, 94, 0), rgb(36, 19, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 25px;

}

header a {
  color: rgb(243, 240, 255);
  text-decoration: none;
  padding: 1.27rem;
}

header a:hover {
  color: rgb(253, 172, 66);
  text-decoration: none;
  cursor: pointer;
  transition: .5s ease;
  font-size: larger;
}
#tag {
  border: 3px solid rgba(151, 124, 3, 0.5);
  border-radius: 5px;
}
#newWorld {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h1:hover {
  color: rgb(253, 172, 66);
  text-decoration: none;
  cursor: pointer;
}

.img{
  max-height: 50px;
}

footer {
  color: aliceblue;
  margin-bottom: 20px;
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label {
  margin-right: 15px;
}

.jumbotron {
  background-color: var(--grey);
  font-size: 100%;
  width: 100vw;
}

.leaderboard {
  background-color: rgba(243, 171, 16, 0.911);
  color: var(--brown);
  background-image: url("../src/img/leaderboard.jpg");
  flex-shrink: inherit;

}

.play-btn {
  color: var(--midGreen);
  background: rgba(1, 35, 97, 0.897);
  border-color: var(--purple) 2px solid;
  border-radius: 10px;
  font-size: 35px;
  padding: 5px 8px;
  font-weight: normal;
  margin: 3px 0;
  margin-right: 8px;
  display: flex;
  text-decoration: none;
  font-family: 'Butcherman', cursive;
  min-width: 150px;
  justify-content: center;
  width: 300px;
}

/* Active-Button */
.play-btn:hover, #play-btn:active {
  color:var(--yellow);
  background: var(--darkGreen);
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px var(--yellow);
  transition: .5s ease;
  transform: scale(1.25);
  text-decoration: none;
};

.container {
  background-color: var(--midGreen);
}

.card {
  background-image: url("../src/img/backtest.jpg");
  color: whitesmoke;
}

.villageCard {
  background-image: url("../src/img/backtest.jpg");
  color: whitesmoke;
}
.card2 {
  
  background-image: url("../src/img/backtest.jpg");
  opacity: .85;
  display: flex;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  padding: 10px;
  align-items: stretch;
  height: 50%;
  width: 80%;
  margin-top: -50px;
}

.card-body2 {
  background-color: rgba(55, 0, 255, 0.404);
  width: 100%;
}
.card-body2 > p {
  margin-right: 45px;
}
.card-body3 {
  /* background-image: url("../src/img/city.jpg"); */
  background-color: rgba(100, 39, 3, 0.644);
  color: rgba(245, 245, 245, 0.836);
  border-radius: 18px;
  padding: 50px;
  margin: 15px;

}
.card-body4 {
  /* background-image: url("../src/img/city.jpg"); */
  background-color: rgba(243, 195, 36, 0.644);
  color: #000e1ace;
  border-radius: 18px;
  padding: 50px;
  margin: 50px;

}

.panels {
  display: flex;
  justify-content: center;
}

.cell {
  background-color: rgba(245, 245, 245, 0.315);
}

.wrapper {
  background-image: url("../src/img/hamlet2.jpg");
  background-size: cover;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tableTitle {
  text-align: center;
  font-size: 200%;
  color: #9b58009d;
}

.rows {
  color: #002b4ed3;
  text-align: center;
  font-size: 90%;
}

.profileTable {
  width: 50%;
  text-align: center;
}

.sidePanel {
  font-size: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.workPanel {
  font-size: 70%;
  text-align: center;
}

.purchasePanel {
  font-size: 70%;
  text-align: center;
  margin-top: -35px;
}

.card-title {
  font-size: 150%;
}

.card-text {
  font-size: 100%;
}

#signup-btn {
  color: whitesmoke;
  background-color: rgb(192, 192, 28);
  font-size: 150%;
  border-radius: 10px;
  margin-top: 20px;

}

#signup-btn:hover {
  color: whitesmoke;
  background-color: rgb(28, 85, 192);
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px var(--yellow);
  transition: .5s ease;
  transform: scale(1.05);
  text-decoration: none;
}

#login-btn {
  color: whitesmoke;
  background-color: rgb(165, 28, 192);
  font-size: 150%;
  border-radius: 10px;
  margin-top: 20px;

}

#login-btn:hover {
  color: whitesmoke;
  background-color: rgb(5, 163, 137);
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px var(--yellow);
  transition: .5s ease;
  transform: scale(1.05);
  text-decoration: none;
}

.trade-btn {
  color: whitesmoke;
  background-color: rgb(28, 119, 0);
  font-size: 75%;
  border-radius: 30px;
  /* padding: 10px; */
  margin: 10px;
  width: auto;
  padding: 15px;
}

.trade-btn:hover {
  color: rgb(134, 76, 0);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px var(--yellow);
  transition: .5s ease;
  transform: scale(1.05);
  text-decoration: none;
}
.worker-btn {
  color: whitesmoke;
  background-color: rgb(163, 108, 5);
  font-size: 150%;
  border-radius: 10px;
  /* padding: 10px; */
  margin: 10px;
  width: auto;
}

.worker-btn:hover {
  color: whitesmoke;
  background-color: rgb(0, 114, 34);
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px var(--yellow);
  transition: .5s ease;
  transform: scale(1.05);
  text-decoration: none;
}

